    <p>Po wprowadzeniu id aplikacja zwraca stan powietrza i datę pomiaru dla odpowiedniego miejsca pomiarowego w polsce</p>
    <p>Póki co aplikacja ma na sztywno zadeklarowane id pomiaru jako 52</p>
    <p>Jeśli chcemy z tego korzystać to mogę wczytać tę całą dużą listę wszystkich miejsc pomiarowych tutaj gdzieś obok. Ona tak ładnie się wyświetli jako tabela i użytkownik będzie mógł wybrać skąd chce znaleźć pomiar. Wpisze wtedy odpowiedni ID i wynik wyskoczy</p>
<div class="nav">

    <input class="nav_buttons__input" #id>
    <button class="nav_buttons__btn" (click)="showAirData()">Pobierz dane!</button>

</div>

<table class="table" *ngFor="let result of results">
    <thead>
        <tr>
            <th>ID</th>
            <td>{{result.id}}</td>
        </tr>

        <tr>
            <th>Stany powietrza</th>
            <td>{{result.stIndexLevel.indexLevelName}}</td>
        </tr>

        <tr>
            <th>Data pomiaru</th>
            <td>{{result.stSourceDataDate}}</td>
        </tr>
    </thead>
</table>