<div class="nav">
    <div class="nav__header">
        <h1>Sprawdź pogodę w swoim mieście</h1>
    </div>

    <div class="nav__buttons">
        <input class="nav__buttons__input" placeholder="PODAJ MIASTO!" #city>
        <button class="nav__buttons__btn" (click)="getWeatherService(city.value)">Pokaż dane!</button>
    </div>

    <div class="nav__error" *ngIf="errorMsg">
        <strong>{{errorMsg}}</strong>
    </div>
</div>

<div class="content">
    <div class="content__table">
        <h2>pogoda w wybranej miejscowości!</h2>
        <table class="table table-dark">
            <thead>

                <tr>
                    <th>Miasto</th>
                    <th>Temperatura</th>
                    <th>Temperatura Odczuwalna</th>
                    <th>Temperatura Minimalna</th>
                    <th>Temperatura Maksymalna</th>
                    <th>Ciśnienie</th>
                    <th>Wilgotność</th>
                </tr>
            </thead>

            <tbody *ngFor="let result of results">
                <td>{{result[0].name}}</td>
                <td>{{(result[0].main.temp - 273.15)| number}} C</td>
                <td>{{(result[0].main.feels_like - 273.15)| number}} C</td>
                <td>{{(result[0].main.temp_min - 273.15)| number}} C</td>
                <td>{{(result[0].main.temp_max - 273.15)| number}} C</td>
                <td>{{result[0].main.pressure}} hPa</td>
                <td>{{result[0].main.humidity}} %</td>

                <div *ngIf="result[0].main.temp - 273.15 < 0 ">
                    <img class="images" src="https://cdn3.iconfinder.com/data/icons/weather-16/256/Snowflake-512.png" />
                </div>

            </tbody>
        </table>
    </div>

    <div class="content__chart">
        <h2>TU MOŻE BĘDZIE JAKIŚ WYKRES ALBO I NIE?</h2>
    </div>

</div>