<div class="nav">
    <div class="nav__header">
        <h1>Sprawdź pogodę w swoim mieście</h1>

    </div>

    <div class="nav__buttons">
        <input id="cityInput" class="nav__buttons__input" placeholder="PODAJ MIASTO!" #city
            (keyup.enter)="showContent(); getWeatherService(city.value); getForecastService(city.value)">
        <button class="nav__buttons__btn" (click)="getWeatherService(city.value)"
            (click)="getForecastService(city.value)" (click)="showContent()" type="submit">Pokaż
            dane!</button>
    </div>

    <div class="nav__error" *ngIf="errorMsg">
        <strong>{{errorMsg}}</strong>
    </div>
</div>

<div *ngIf="!dataTrigger" class="no-data">
    <p class="no-data-info">PODAJ MIASTO ABY WYŚWIETLIĆ DANE POGODOWE!</p>
</div>


<div class="content">

    <div id="chart-area" class="chart-area">
        <canvas id="chart__forecast"></canvas>
    </div>

    <div class="content__table">
        <table class="table table-responsive left_side_table">
            <caption style="caption-side: top; text-align: center; font-weight: 1000; font-size: 18px;">Parametry
                pogodowe w
                wybranym mieście</caption>
            <thead>
                <tr class="bg-primary text-white">
                    <th>Miasto</th>
                    <th>Temperatura</th>
                    <th>Temperatura Odczuwalna</th>
                    <th>Temperatura Minimalna</th>
                    <th>Temperatura Maksymalna</th>
                    <th>Ciśnienie</th>
                    <th>Wilgotność</th>
                    <th>Pogoda</th>
                </tr>
            </thead>

            <tbody class="bg-light text-dark" *ngFor="let result of resultsWeather">
                <td>{{result[0].name}}</td>
                <td>{{result[0].main.temp}} C</td>
                <td>{{result[0].main.feels_like}} C</td>
                <td>{{result[0].main.temp_min}} C</td>
                <td>{{result[0].main.temp_max}} C</td>
                <td>{{result[0].main.pressure}} hPa</td>
                <td>{{result[0].main.humidity}} %</td>
                <td>
                    <img className="img-fluid"
                        src='http://openweathermap.org/img/w/{{result[0].weather[0].icon}}.png' />
                </td>
            </tbody>

        </table>
    </div>

    <div class="content__chart" *ngIf="resultsForecastToTable != undefined ">
        <table class="table right_side_table">
            <caption style="caption-side: top; text-align: center; font-weight: 1000; font-size: 18px;">Prognoza
            </caption>
            <thead>
                <tr class="bg-primary text-white">
                    <th>Data</th>
                    <th>Temperatura max/min</th>
                    <th>Pogoda</th>
                </tr>
            </thead>

            <tbody class="bg-light text-dark" *ngFor="let resultTable of resultsForecastToTable">
                <td>
                    {{resultTable.date}}
                </td>
                <td>
                    {{resultTable.maxTemp}} C / {{resultTable.minTemp}} C
                </td>
                <td>
                    <img className="img-fluid" src='http://openweathermap.org/img/w/{{resultTable.icon}}.png' />
                </td>
            </tbody>

        </table>
    </div>
</div>