.map{
    position: absolute;
    opacity: 0;
}

.map__bialystok img{
    position: absolute;
    top: 130px;
    left: 390px;
    width: 100px;
    height: auto;
}






















/* .map-container {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
}
.results {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
}

#map {
    height: 100%;
} */