.map-container {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
}

.map-frame {
    border: 2px solid black;
    height: 100%;
}

.results {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
}

.table{
    box-shadow: 3px 3px 11px -1px rgba(74,100,107,0.8);
}

#map {
    height: 100%;
}
#marker {
    width: 20px;
    height: 20px;
    border: 1px solid #088;
    border-radius: 10px;
    background-color: #0FF;
    opacity: 0.5;
  }