<div class="map-container">
  <div class="map-frame">
    <div id="map" class="map"></div>
    <div id="popup" class="ol-popup">
      <a href="#" id="popup-closer" class="ol-popup-closer"></a>
      <div id="popup-content">
        <table *ngIf="results != undefined && results[0].current.indexes[0].level != 'UNKNOWN'; else noDataErrorMessage"
          class="table">
          <thead>
            <tr>
              <th>PM1</th>
              <th>PM10</th>
              <th>PM25</th>
              <th>CAQI</th>
            </tr>
          </thead>
          <tbody *ngFor="let result of results">
            <td>{{result.current.values[0].value}} µg/m3 </td>
            <td>{{result.current.values[2].value}} µg/m3</td>
            <td>{{result.current.values[1].value}} µg/m3</td>
            <td>{{result.current.indexes[0].value}} µg/m3</td>
          </tbody>
        </table>
        <ng-template #noDataErrorMessage>
          <p>Brak danych w tym miejscu :(</p>
        </ng-template>
      </div>
    </div>
    <div id="cloudPopup">
      <div id="cloudPopup-content">
        <img class="cloudImage" *ngIf="results != undefined; else cloudErrorImage" src="assets/pollution_pictures/{{results[0].current.indexes[0].level}}.png"/>
        <ng-template #cloudErrorImage>
          <img class="cloudImage" src="assets/pollution_pictures/UNKNOWN.png"/>
        </ng-template>
      </div>
    </div>
  </div>
</div>