<div class="nav">
    <div class="container">
        <div style="text-align: center; padding: 10px;">
            <h1>STATYSTYKI</h1>
        </div>
    </div>
</div>
<div style="color: #cdd6da; width:100%; height: 5px;">

</div>
<div class="columnGradient">
    <div>
        <div class="row">
            <div class="col-4" style="border-right:5px #a2afb9 solid; padding: 10px 50px;">
                <div style="padding: 10px 0px;">
                    <select [(ngModel)]="selectedStation" class="form-control">
                        <option [ngValue]="-1">--- Wybierz stację ---</option>
                        <option *ngFor="let station of stationList" [ngValue]="station.id">{{station.name}}</option>
                    </select>
                </div>
                <div class="row" style="padding:10px 0px;">
                    <div class="col" *ngFor="let item of statisticTypes">
                        <input type="radio" [(ngModel)]="radioSelected" name="radioMonth" value="{{item.id}}" (change)="onItemChange(item)" /> {{item.name}}
                    </div>
                </div>
                <div style="padding:10px 0px;">
                    <label for="fromDate">Od:</label>
                    <input type="text" [(ngModel)]="selectedFromDate" name="fromDate" type="date" class="form-control">
                </div>

                <div style="padding:10px 0px;">
                    <label for="toDate">Do:</label>
                    <input type="text" [(ngModel)]="selectedToDate" name="toDate" type="date" class="form-control">
                </div>

                <div style="padding:20px 0px;">
                    <button class="btn btn-info" style="width:100%" (click)="generateReport()">Generuj</button>
                </div>

                <div style="color:red; text-align: center;" *ngIf="!isFormValid">
                    <i>{{validMessage}}</i>
                </div>
            </div>


            <div class="col-8" style="padding: 30px 50px">
                <!-- <div class="row"> -->
                <div *ngIf="isRequestSended">
                    <div *ngIf="isDataLoaded">
                        <table id="statDiv" class="table">
                            <thead>
                                <th></th>
                                <th>Temperatura [°C]</th>
                                <th>Ciśnienie [hPa]</th>
                                <th *ngIf="isWindCalculated">Prędkość wiatru [m/s]</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Średnia</td>
                                    <td>{{this.statData.temperature.average}}</td>
                                    <td>{{this.statData.pressure.average}}</td>
                                    <td *ngIf="isWindCalculated">{{this.statData.windPower.average}}</td>
                                </tr>
                                <tr>
                                    <td>Minimum</td>
                                    <td>
                                        {{this.statData.temperature.min}}
                                        <br>
                                        <i style="font-size: 0.75rem">({{this.statData.temperature.minaDate}})</i>
                                    </td>
                                    <td>
                                        {{this.statData.pressure.min}}
                                        <br>
                                        <i style="font-size: 0.75rem">({{this.statData.pressure.minaDate}})</i>

                                    </td>
                                    <td *ngIf="isWindCalculated">
                                        {{this.statData.windPower.min}}
                                        <br>
                                        <i style="font-size: 0.75rem">({{this.statData.windPower.minaDate}})</i>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Maksimum</td>
                                    <td>
                                        {{this.statData.temperature.max}}
                                        <br>
                                        <i style="font-size: 0.75rem">({{this.statData.temperature.maxDate}})</i>
                                    </td>
                                    <td>
                                        {{this.statData.pressure.max}}
                                        <br>
                                        <i style="font-size: 0.75rem">({{this.statData.pressure.maxDate}})</i>
                                    </td>
                                    <td *ngIf="isWindCalculated">
                                        {{this.statData.windPower.max}}
                                        <br>
                                        <i style="font-size: 0.75rem">({{this.statData.windPower.maxDate}})</i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="emptyDataDiv" *ngIf="!isDataLoaded">
                        <i>Brak danych do wyświetlenia</i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 0px 30px; height:230px">
            <table>
                <tbody>
                    <td style="width:50%; padding: 10px;">
                        <div id="temperatureChart"></div>
                    </td>
                    <td style="width:50%; padding: 10px;">
                        <div id="pressureChart"></div>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</div>





<div id="chartModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width: 900px; max-width: 900px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="modalTitle" class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height:400px;">
                <div id="popupChart"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>